/* ====================== LOGIN / REG ====================== */

.flex-container.login {
    display: flex;
    max-width: 60vw;
    max-height: 100vh;
    margin-top: 25vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.flex-container.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

input.login-type {
    width: 20vw;
}

button.login-type {
    max-width: 5vw;
}

button.login-type.register {
    margin-top: 20vh;
}

h1.login-title {
    font-size: 70px;
}

#board {
    touch-action: none;
}


/* ====================== HOME ====================== */

.flex-container.home {
    height: 100%;
    display: flex;
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
    top: 10vh;
}

.flex-container.information {
    flex-direction: column;
    height: 100%;
}

.flex-container.navbar {
    min-height:9vh;
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 0;
    width: 100%;
    background-color: black;
    flex-direction: row;
    justify-content: space-between;
}

.logoutLink {
    color: white;
    margin-right: 10vw;
    position: absolute;
    top: 40%;
    right: 2%;
}

.logo {
    position: absolute;
    left: 4%;
    height: 9vh;
}


.createGameButton {
    color: white;
    background-color: black;
    width: 18vw;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: 0.4s;
    border: 2px solid black;

}


.createGameButton:hover {
    background-color: white; /* Green */
    color: black;
    border: 2px solid black;
}

.staticChessBoard {
    width: 400px;
}



















